<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBE2yPOXHgnMSgQC084n89JUocrjpg_fpQ</string>
	<key>GCM_SENDER_ID</key>
	<string>61038930802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoSenac</string>
	<key>PROJECT_ID</key>
	<string>projeto-integrador-todo</string>
	<key>STORAGE_BUCKET</key>
	<string>projeto-integrador-todo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61038930802:ios:a2f5252d0aa9caad734beb</string>
</dict>
</plist>